@model WAG.ViewModels.UserAccount.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h2>Смяна на парола</h2>
        </div>
    </div>
</header>

<main class="container text-center main-default">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-area="BG" asp-controller="UserAccount" asp-action="ChangePassword" class="center-block">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CurrPassword">Старата парола</label>
                            <input asp-for="CurrPassword" type="password" class="form-control field-default" placeholder="Стара парола..." />
                            <span asp-validation-for="CurrPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword">Нова парола</label>
                            <input asp-for="NewPassword" type="password" class="form-control field-default" placeholder="Нова парола..." />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword">Повтори новата парола</label>
                            <input asp-for="ConfirmNewPassword" type="password" class="form-control field-default" placeholder="Повтори новата парола..." />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Запази промените</button>
                </div>
            </form>
        </div>
    </div>
</main>


