@model WAG.ViewModels.UserAccount.RegisterInputViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<header class="container header-default" >
    <div class="row">
        <div class="col-12">
            <h2>Регистрация</h2>
            @if (Model != null && Model.UnsuccessfulRegistrationMessage != null)
            {
                <h3 class="text-danger">@Model.UnsuccessfulRegistrationMessage</h3>
            }
        </div>
    </div>
</header>

<main class="container text-center main-default" >
    <div class="row">
        <div class="col-12">
            <form method="post" class="center-block">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName">Потребителско име</label>
                            <input asp-for="UserName" class="form-control field-default" placeholder="Потребителско име..." />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Имейл</label>
                            <input asp-for="Email" class="form-control field-default" placeholder="Имейл..." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Парола</label>
                            <input asp-for="Password" type="password" class="form-control field-default" placeholder="Парола..." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Повтори паролата</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control field-default" placeholder="Повтори паролата..." />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName">Име</label>
                            <input asp-for="FirstName" class="form-control field-default" placeholder="Име..." />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName">Фамилия</label>
                            <input asp-for="LastName" class="form-control field-default" placeholder="Фамилия..." />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City">Град</label>
                            <input asp-for="City" class="form-control field-default" placeholder="Град..." />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address">Адрес</label>
                            <input asp-for="Address" class="form-control field-default" placeholder="Адрес..." />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber">Телефонен номер</label>
                            <input asp-for="PhoneNumber" class="form-control field-default" placeholder="телефон..." />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Създай профил</button>
                </div>
            </form>
        </div>
    </div>
</main>
