@model WAG.ViewModels.ArtisticWorks.AddArtWorkViewModel

@{
    ViewData["Title"] = "AddArtWork";
}

<h2>Add Artwork</h2>
<form method="post" enctype="multipart/form-data" asp-area="Administration" asp-controller="ArtisticWork" asp-action="AddArtWork" class="center-block">
    <hr style="height: 3px; background-color: black" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="Year..." />
            </div>
            <div class="form-group">
                <label asp-for="Height"></label>
                <input asp-for="Height" class="form-control" placeholder="Height..." />
            </div>
            <div class="form-group">
                <label asp-for="Width"></label>
                <input asp-for="Width" class="form-control" placeholder="Width..." />
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price..." />
            </div>
            <div class="form-group">
                <label asp-for="Availability"></label>
                <input asp-for="Availability" class="form-control" placeholder="Availability..." />
            </div>
            <div class="form-group">
                <label asp-for="HasFrame"></label>
                <input asp-for="HasFrame" class="form-control" placeholder="HasFrame..." />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control custom-select" asp-items="@(new SelectList(Model.ExistingCategories, "Id", "Name"))">
                    <option>Please select category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Technique"></label>
                <input asp-for="Technique" class="form-control" placeholder="Technique..." />
            </div>
            <div class="form-group">
                <label asp-for="Picture"></label>
                <input type="file" name="Picture">
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" style="background-color: black; color: white">Add</button>
    </div>
</form>
