@model WAG.ViewModels.ArtisticWorks.AddCategoryViewModel

@{
    ViewData["Title"] = "AddCategory";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Adding new artwork category</h1>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">

        <section class="col-12">
            <div class="text-center">
                <form method="post" enctype="multipart/form-data" asp-area="Administration" asp-controller="ArtisticWork" asp-action="AddCategory">
                    <div class="form-group">
                        <label asp-for="CategoryName">Category Name</label>
                        <input asp-for="CategoryName" class="form-control center-block" style="width:50%" placeholder="Category name..." />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input type="file" class="center-block" name="Picture">
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </section>

    </div>
</main>


