@model WAG.ViewModels.ArtisticWorks.AddCategoryViewModel

@{
    ViewData["Title"] = "AddCategory";
}

<div class="container">
    <div class="row">
        <header class="col-12">
            <h1 class="text-center">Adding new artwork category</h1>
        </header>
    </div>
</div>

<main class="container">
    <div class="row">
        <section class="col-12">
            <div>
                <h3 class="text-center">Existing categories:</h3>
                <br />
                <div class="text-center center-block" style="border:dotted; width:30%">
                    @foreach (var category in Model.Categories)
                    {
                        <p>Category Name: @category.Name</p>
                    }
                </div>
                <br />
                <div class="text-center">
                    <form method="post" enctype="multipart/form-data" asp-area="Administration" asp-controller="ArtisticWork" asp-action="AddCategory">
                        <div class="form-group">
                            <label asp-for="CategoryName">Category Name</label>
                            <input asp-for="CategoryName" class="form-control" placeholder="Category name..." />
                        </div>
                        <div class="form-group">
                            <label asp-for="Picture"></label>
                            <input type="file" name="Picture">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>
</main>


