@model WAG.ViewModels.ArtisticWorks.ArtWorkCategoriesViewModel

@{
    ViewData["Title"] = "AllCategories";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">All artwork categories</h1>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <section class="col-12 ">
            <div>
                <div class="text-center">
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="AddCategory">Add new category</a>
                </div>
                <br />
                <div >
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Category name</th>
                                <th scope="col">Modify</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Categories.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@(i + 1)</th>
                                    <td>@Model.Categories[i].Name</td>
                                    <td>
                                        <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="EditCategory" asp-route-id="@Model.Categories[i].Id">Edit</a>
                                        <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="DeleteCategory" asp-route-id="@Model.Categories[i].Id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="ArtisticWork" asp-action="AddCategory">Add new category</a>
                </div>
            </div>
        </section>

    </div>
</main>
