@model WAG.ViewModels.ArtisticWorks.ArtWorkDetailsViewModel

@{
    ViewData["Title"] = "DeleteArtWork";

    Cloudinary cloudinary = Model.Cloudinary;
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h1 class="text-center">Delete Artwork</h1>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">

        <aside class="col-sm-3 col-12 left-panel">
            <img src="@Html.Raw(cloudinary.Api.UrlImgUp.Secure(true).Format("jpg")
                             .Transform(new Transformation().Width(200).Quality(100))
                             .BuildUrl(Model.ArtisticWork.PictureFileName))" style="padding-bottom:25px" />
            <div>
                <p>Year: @Model.ArtisticWork.Year</p>
                <p>Price: @Model.ArtisticWork.Price</p>

            </div>
        </aside>

        <section class="col-sm-9 col-12 right-panel">
            <div>
                <h2>Are you sure you want to delete permanently this Artwork?</h2>
                <br />
                <div>
                    <form method="post" asp-area="Administration" asp-controller="ArtisticWork" asp-action="DeleteArtWork" asp-route-id="@Model.ArtisticWork.Id">
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </div>
            </div>
        </section>

    </div>
</main>