@model WAG.ViewModels.ArtisticWorks.EditArtWorkViewModel

@{
    ViewData["Title"] = "EditArtWork";
}

<header class="container text-center header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2>EditArtWork</h2>
        </div>
    </div>
</header>

<main class="container text-center main-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <form method="post" enctype="multipart/form-data" asp-area="Administration" asp-controller="ArtisticWork" asp-action="EditArtWork" class="center-block">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control add-artwork-fild" placeholder="Year..." />
                </div>
                <div class="form-group">
                    <label asp-for="Height"></label>
                    <input asp-for="Height" class="form-control add-artwork-fild" placeholder="Height..." />
                </div>
                <div class="form-group">
                    <label asp-for="Width"></label>
                    <input asp-for="Width" class="form-control add-artwork-fild" placeholder="Width..." />
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control add-artwork-fild" placeholder="Price..." />
                </div>
                <div class="form-check">
                    <input asp-for="Availability" type="checkbox" class="form-check-input add-artwork-fild" placeholder="Availability..." />
                    <label asp-for="Availability" class="form-check-label"></label>
                </div>
                <div class="form-check">
                    <input asp-for="HasFrame" type="checkbox" class="form-check-input add-artwork-fild" placeholder="HasFrame..." />
                    <label asp-for="HasFrame" class="form-check-label"></label>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ArtisticWorkCategoryId"></label>
                    <select asp-for="@Model.ArtisticWorkCategoryId" class="form-control add-artwork-medium-field" asp-items="@(new SelectList(Model.ExistingCategories, "Id", "Name"))">
                        <option>Please select category</option>
                    </select>
                    <span asp-validation-for="@Model.ArtisticWorkCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Technique"></label>
                    <input asp-for="Technique" class="form-control add-artwork-medium-field" placeholder="Technique..." />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</main>
