@model WAG.ViewModels.ArtisticWorks.EditCategoryViewModel

@{
    ViewData["Title"] = "EditCategory";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Edit Artwork Category</h1>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">

        <aside class="col-sm-3 col-12 left-panel">
            <img src="~/images/artCategories/@Model.PictureOld" style="width:200px; padding-bottom:25px" />
            <div>
                <p>Category Name: <strong>@Model.CategoryName</strong></p>
            </div>
        </aside>

        <section class="col-sm-9 col-12 right-panel">
            <div class="container">
                <form method="post" enctype="multipart/form-data" asp-controller="ArtisticWork" asp-action="EditCategory">
                    <div class="form-group">
                        <label for="PictureNew">Upload new picture to replace old one, using this form:</label>
                        <input type="file" name="PictureNew">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </section>

    </div>
</main>

