
@{
    ViewData["Title"] = "ManageArtWorks";
}

<header class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2 class="text-center">Manage Artworks</h2>
        </div>
    </div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="list-group center-block text-center" style="width:30%">
                <a asp-area="Administration" asp-controller="ArtisticWork" asp-action="AddArtWork" class="list-group-item list-group-item-action">Add Artwork</a>
                <a asp-area="" asp-controller="ArtisticWork" asp-action="Categories" class="list-group-item list-group-item-action">Edit or Delete Artwork (choose first)</a>
                <a asp-area="Administration" asp-controller="ArtisticWork" asp-action="AddCategory" class="list-group-item list-group-item-action">Add New Category</a>
                <a asp-area="Administration" asp-controller="ArtisticWork" asp-action="AllCategories" class="list-group-item list-group-item-action">Edit or Delete Category</a>
            </div>
        </div>
    </div>
</main>
