@model WAG.ViewModels.UserAccount.AllUsersViewModel

@{
    ViewData["Title"] = "AllUser";
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2 class="text-center">All users</h2>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <div  id="all-users-list" class="center-block">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AllUsers != null)
                        {
                            @for (int i = 0; i < Model.AllUsers.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td><a asp-area="Administration" asp-controller="UserAccount" asp-action="UserDetails" asp-route-id="@Model.AllUsers[i].Id">@Model.AllUsers[i].UserName</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <th scope="row">None</th>
                                <td>None</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

