@model WAG.ViewModels.UserAccount.UserDetailsViewModel

@{
    ViewData["Title"] = "DeleteUser";
}

<div class="container">
    <div class="row">
        <header class="col-12">
            <h1 class="text-center">Delete User</h1>
        </header>
    </div>
</div>

<main class="container">
    <div class="row">
        <section class="col-12">
            <div>
                <h2 class="text-center">Are you sure you want to delete permanently this user?</h2>
                <br />
                <div class="text-center center-block" style="border:dotted; width:30%">
                    <p>UserName: @Model.User.UserName</p>
                    <p>First Name: @Model.User.FirstName</p>
                    <p>Last Name: @Model.User.LastName</p>
                </div>
                <br />
                <div class="text-center">
                    <form method="post" asp-area="Administration" asp-controller="UserAccount" asp-action="DeleteUser" asp-route-id="@Model.User.Id">
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </div>
            </div>
        </section>

    </div>
</main>

