
@{
    ViewData["Title"] = "ManageUsers";
}

<header class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2 class="text-center">Manage users</h2>
        </div>
    </div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="list-group center-block text-center" style="width:30%">
                <a asp-area="Administration" asp-controller="UserAccount" asp-action="AllUsers" class="list-group-item list-group-item-action">See all users</a>
            </div>
        </div>
    </div>
</main>

