@model WAG.ViewModels.Home.EditBiographyViewModel

@{
    ViewData["Title"] = "EditBiography";
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2>Edit Biography:</h2>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-sm-12 col-12 text-center">

            <article>
                <form method="post" asp-area="Administration" asp-controller="Home" asp-action="UpdateBiography">
                    <div class="form-group">
                        <textarea asp-for="Biography" class="form-control" style="width:900px; height:400px; font-size:large; margin-left:auto; margin-right:auto"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </article>

        </div>
    </div>
</main>
