@model WAG.ViewModels.Blog.CreateArticleViewModel

@{
    ViewData["Title"] = "CreateArticle";
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2 class="text-center">Create Article</h2>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">
        <div class="col-sm-12 col-12" id="edit-article-form-wrap">
            <form method="post" enctype="multipart/form-data" asp-area="Administration" asp-controller="Blog" asp-action="CreateArticle">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" id="edit-article-title-form" placeholder="Title..." />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription"></label>
                    <textarea asp-for="ShortDescription" class="form-control wysiwyg" id="edit-article-srt-desc"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArticleContent"></label>
                    <textarea asp-for="ArticleContent" class="form-control wysiwyg" id="edit-article-content"></textarea>
                    <span asp-validation-for="ArticleContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MainPicture"></label>
                    <input type="file" asp-for="MainPicture">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</main>