@model WAG.ViewModels.Blog.DeleteArticleViewModel

@{
    ViewData["Title"] = "DeleteArticle";
}

<header class="container header-default">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h1 class="text-center">Delete Article</h1>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">

        <aside class="col-sm-3 col-12 left-panel">
            <img src="~/images/articles/@Model.Article.MainPictureFileName" style="width:200px; padding-bottom:25px" />
            <div>
                <p>Article Title: @Model.Article.Title</p>
            </div>
        </aside>

        <section class="col-sm-9 col-12 right-panel">
            <div>
                <h2>Are you sure you want to delete permanently this Article?</h2>
                <br />
                <div>
                    <form method="post" asp-area="Administration" asp-controller="Blog" asp-action="DeleteArticle" asp-route-id="@Model.Article.Id">
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </div>
            </div>
        </section>

    </div>
</main>

