@model WAG.ViewModels.Order.MakeOrderViewModel

@{
    ViewData["Title"] = "MakeOrder";
}

<header class="container text-center">
    <div class="row">
        <div class="col-12>">
            <h2>Заявяване на поръчка</h2>
        </div>
    </div>
</header>

<main class="container text-center" id="make-order-main">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-area="BG" asp-controller="Order" asp-action="MakeOrder">
                <div class="form-group">
                    <input asp-for="ArtWorkId" type="hidden" class="form-control" value="@Model.ArtWorkId"/>
                </div>
                <div class="form-group">
                    <label asp-for="OrderInfo">Допълнителна информация</label>
                    <p>Напишете допълнителна бележка относно вашата поръчка, ако е необходимо</p>
                    <textarea asp-for="OrderInfo" class="form-control" placeholder="Остави бележка..." id="make-order-info-field"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="TelephoneNumberForContact">Телефон за връзка</label>
                    <p>Оставете телефонен номер за връзка с вас, ако той е различен от заявения във вашия профил</p>
                    <input asp-for="TelephoneNumberForContact" type="tel" class="form-control" placeholder="Телефонен номер..." id="make-order-phone-field"/>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryAddress">Адрес за доставка</label>
                    <p>Въведете адрес за доставка, ако той е различен от заявения във вашия профил</p>
                    <textarea asp-for="DeliveryAddress" class="form-control" placeholder="Адрес..." id="make-order-address-field"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Завърши поръчката</button>
                </div>
            </form>
        </div>
    </div>
</main>
