@model WAG.ViewModels.Order.MakeSpecialOrderViewModel
@{
    ViewData["Title"] = "MakeSpecialOrder";
}

<header class="container text-center">
    <div class="row">
        <div class="col-12">
            <h2>Make Special Order</h2>
            <h3>You can order custom artwork, specially made for you. You can also make a great present for a dear friend</h3>
        </div>
    </div>
</header>

<main class=" container text-center" id="special-order-main">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-area="" asp-controller="Order" asp-action="MakeSpecialOrder">
                <div class="form-group">
                    <label asp-for="OrderInfo">Order info</label>
                    <p>Type here some additional info about your order if is needed</p>
                    <textarea asp-for="OrderInfo" class="form-control" placeholder="Order info..." id="make-order-info-field"></textarea>
                    <span asp-validation-for="OrderInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelephoneNumberForContact">Phone number</label>
                    <p>Type here Phone Number for contact with you, if it's different than phone number from your profile</p>
                    <input asp-for="TelephoneNumberForContact" type="tel" class="form-control" placeholder="Phone number..." id="make-order-phone-field"/>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryAddress">Delivery Address</label>
                    <p>Type here Delivery Address, if it's different than the Address from your profile</p>
                    <textarea asp-for="DeliveryAddress" class="form-control" placeholder="Delivery Address..." id="make-order-address-field"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Finish order</button>
                </div>
            </form>
        </div>
    </div>
</main>
