@model WAG.ViewModels.Home.AboutViewModel
@{
    ViewData["Title"] = "About";
}

<header class="container" id="about-header" style="text-align:left">
    <div class="row">
        <div class="col-lg-12">
            <h3>Биография</h3>
        </div>
    </div>
</header>

<main class="container" id="about-main">
    <div class="row">
        <div class="col-12">
            <article id="bio-article">
                <div id="left-col">
                    <img src="~/images/Bio/Bio-Img.jpg" style="max-width: 100%; max-height: 100%; width:auto; height:auto" />
                </div>
                <div>
                    <h3>Ема Иванова - Художник</h3>
                    <pre id="biography">@Model.Biography</pre>
                </div>
            </article>

        </div>
    </div>
</main>

