
@{
    ViewData["Title"] = "Success";
}

<header class="container text-center text-success" id="success-header">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h2 id="success-header-text">Готово</h2>
        </div>
    </div>
</header>

<main class="container text-center text-success" id="success-main">
    <div class="row">
        <div class="col-sm-12 col-12">
            <div id="success-message">
                <p>Вашата заявка беше изпълнена успешно</p>
            </div>
            <a asp-area="BG" asp-controller="Home" asp-action="Index" class="button btn">Обратно към началната страница</a>
        </div>
    </div>
</main>


