@model WAG.ViewModels.UserAccount.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>

<form method="post" asp-area="" asp-controller="UserAccount" asp-action="ChangePassword" class="center-block">
    <hr style="height: 3px; background-color: black" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label asp-for="CurrPassword">Current Password</label>
                <input asp-for="CurrPassword" type="password" class="form-control" placeholder="Current Password..." />
                <span asp-validation-for="CurrPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password..." />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Repeat New Password..." />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>