@model WAG.ViewModels.UserAccount.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h2>Change Password</h2>
        </div>
    </div>
</header>

<main class="container text-center main-default">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-area="" asp-controller="UserAccount" asp-action="ChangePassword" class="center-block">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CurrPassword">Current Password</label>
                            <input asp-for="CurrPassword" type="password" class="form-control field-default" placeholder="Current Password..." />
                            <span asp-validation-for="CurrPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword">New Password</label>
                            <input asp-for="NewPassword" type="password" class="form-control field-default" placeholder="New Password..." />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                            <input asp-for="ConfirmNewPassword" type="password" class="form-control field-default" placeholder="Repeat New Password..." />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</main>


