@model WAG.ViewModels.UserAccount.LoginInputViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
@if (Model != null && Model.UnsuccessfulLogInMessage != null)
{
    <h3>@Model.UnsuccessfulLogInMessage</h3>
}
<form method="post" class="center-block">
    <hr style="height: 3px; background-color: black" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" placeholder="Username..." />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password..." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" style="background-color: black; color: white">Log in</button>
    </div>
</form>