@model WAG.ViewModels.Home.AboutViewModel
@{
    ViewData["Title"] = "About";
}

<header class="container" id="about-header" style="text-align:left">
    <div class="row">
        <div class="col-sm-12 col-12">
            <h3>Biography</h3>
        </div>
    </div>
</header>

<main class="container" id="about-main">
    <div class="row">
        <div class="col-sm-12">
            <article id="bio-article">
                <div id="left-col">
                    <img src="~/images/Bio/Bio-Img.jpg" style="max-width: 100%; max-height: 100%; width:auto; height:auto" />
                </div>
                <div>
                    <h3>Ema Ivanova - Artist</h3>
                    <div id="biography">@Html.Raw(Model.Biography)</div>
                </div>
            </article>
        </div>
    </div>
</main>

