@model WAG.ViewModels.Home.AboutViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>Ema Ivanova - Artist</h3>
<br />
<h4>Biography:</h4>
<pre style="background-color:white; font-size:large; border:hidden">@Model.Biography</pre>

