@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1 class="text-center">Welcome to Ema Ivanova Art Web Site!!!</h1>
</header>

<main class="container-fluid">
    <div class="row" style="text-align:center">
        <img src="~/images/IndexHome.jpg" alt="HomePicture" style="width:1000px;height:500px">
    </div>
</main>
