
@{
    ViewData["Title"] = "IndexLogged";
}

<div class="container">
    <div class="index-body">

        @*Title*@
        <header class="row text-center">
            <div class="col-12">
                <div id="index-title">
                    Ema Ivanova Art
                </div>
            </div>
        </header>

        @*buttons*@
        <nav class="row index-btns text-center">
            <div class="col-12 col-sm-6 index-btn-hover index-btn-wrapper">
                <a asp-controller="ArtisticWork" asp-action="Categories">
                    <div class="index-btn">
                        Visit Gallery
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 index-btn-hover index-btn-wrapper">
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <div class="index-btn">
                        You have a question? <br /> Contact us here
                    </div>
                </a>
            </div>
    </div>
    </nav>

</div>
</div>
