
@{
    ViewData["Title"] = "Success";
}

<h2>Success</h2>
<div style="width:50%">
        <p>DONE</p>
        <p>Your request has been successfully completed</p>

        <a asp-area="" asp-controller="Home" asp-action="Index" class="button btn">Back to homepage</a>
    </div>
</div>
