@model WAG.ViewModels.ArtWorkViewModel
@{
    ViewData["Title"] = "ArtWorkDetails";

}
<header class="container-fluid">
    <div class="row">
        <div class="col-12"></div>
    </div>
</header>

<main class="container-fluid" style="padding-top:70px">
    <div class="row">
        <aside class="col-sm-3 col-12 left-panel" style="border:solid">
            <h3 style="text-align:center">Artwork details</h3>
            <p>Year: @Model.ArtisticWork.Year</p>
            <p>Height: @Model.ArtisticWork.Height</p>
            <p>Width: @Model.ArtisticWork.Width</p>
            <p>Price: @Model.ArtisticWork.Price</p>
        </aside>
        <section class="col-sm-9 col-12 right-panel">
            <img src="~/images/@Model.ArtisticWork.Picture" alt="Picture of the artwork" />
        </section>
    </div>
</main>