@model WAG.ViewModels.ArtisticWorks.ArtWorkCategoriesViewModel

@{
    ViewData["Title"] = "Categories";
}


<header class="container header-default">
    <div class="row">
        <div class="col-12">
            <h1>CATEGORIES</h1>
        </div>
    </div>
</header>

<main class="container main-default">
    <div class="row">

        <section>
            @{
                var loop = 0;
                @foreach (var category in Model.Categories)
                {
                    loop += 1;
                    @if (loop % 3 == 0)
                    {
                        <div class="clearfix"></div>
                    }
                    <div class="col-sm-4">
                        <div class="category-banner">
                            <a asp-action="ArtWorksByCategory" asp-controller="ArtisticWork" asp-route-id="@category.Id">
                                <img class="card-img-top" id="category-banner-img" src="~/images/artCategories/@category.MainPictureFileName" alt="Card image cap">
                                <div id="category-banner-name"><b>@category.Name</b></div>
                            </a>
                        </div>
                    </div>
                }
            }
        </section>

    </div>
</main>

